* {
   font-family: 'Poppins', sans-serif;
   /* устанавливает шрифт для текста на странице. */
   margin: 0;
   /* Устанавливает отступы внешнего края в 0 для всех элементов */
   padding: 0;
   /* Устанавливает отступы внутреннего края в 0 для всех элементов */
   box-sizing: border-box;
   /* Устанавливает модель "border-box" для всех элементов, чтобы ширина и высота элемента включали в себя границы и заполнение */
   outline: none;
   /* Убирает обводку при нажатии на элементы */
   border: none;
   /* Устанавливает границу в 0 для всех элементов */
   text-decoration: none;
   /* Убирает подчеркивание ссылок */
}

.container {
   min-height: 100vh;
   /* устанавливает минимальную высоту блока на 100% высоты видимой области страницы.*/
   display: flex;
   /*определяет тип отображения контейнера как гибкого блока.*/
   align-items: center;
   /* выравнивает элементы внутри контейнера по вертикали по центру.*/
   justify-content: center;
   /*выравнивает элементы внутри контейнера по горизонтали по центру.*/
   padding: 20px;
   /*задает отступы для содержимого контейнера по 20 пикселей со всех сторон.*/
   padding-bottom: 60px;
   /*задает отступ снизу контейнера на 60 пикселей.*/
}

.container .content {
   text-align: center;
   /*Устанавливает выравнивание текста внутри элемента по центру*/
}

/* Стили для заголовка h3 внутри контейнера .content */
.container .content h3 {
   font-size: 30px;
   /* устанавливает размер шрифта 30 пикселей */
   color: black;
   /*устанавливает цвет текста на черный */
}

/* Стили для заголовка h1 внутри контейнера .content */
.container .content h1 {
   font-size: 50px;
   /* устанавливает размер шрифта 50 пикселей*/
   color: black;
   /*устанавливает цвет текста на черный */
}

/* Стили для спана внутри заголовка h1 внутри контейнера .content */
.container .content h1 span {
   background: rgb(102, 243, 2);
   /*устанавливает фоновый цвет на зеленый*/
   color: #fff;
   /* устанавливает цвет текста на белый */
   border-radius: 5px;
   /*устанавливает скругление углов радиусом 5 пикселей*/
   padding: 0 15px;
   /*добавляет внутренние отступы слева и справа по 15 пикселей */
}

/* Стили для абзаца внутри контейнера .content */
.container .content p {
   font-size: 25px;
   /*устанавливает размер шрифта 25 пикселей */
   margin-bottom: 20px;
   /* добавляет внешний отступ снизу в 20 пикселей*/
}

/* Стили для контейнера формы */
.form-container {
   min-height: 100vh;
   /* устанавливает минимальную высоту блока на 100% высоты видимой области страницы.*/
   display: flex;
   /* задает контейнеру гибкое расположение элементов*/
   align-items: center;
   /* выравнивание содержимого по центру по вертикали*/
   justify-content: center;
   /*выравнивание содержимого по центру по горизонтали*/
   padding: 20px;
   /*внешний отступ у контейнера формы*/
   padding-bottom: 60px;
   /*внутренний отступ снизу у контейнера формы*/
   background: #eee;
   /*устанавливает фоновый цвет контейнера формы  */
}

/* Стили для формы */
.form-container form {
   padding: 20px;
   /* внутренний отступ у формы */
   border-radius: 5px;
   /*закругление углов у формы*/
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   /*добавляет тень у формы */
   background: #fff;
   /*устанавливает фоновый цвет формы*/
   text-align: center;
   /*выравнивание содержимого по центру по горизонтали */
   width: 500px;
   /*задает ширину формы*/
}

/* Стили для заголовка формы */
.form-container form h3 {
   font-size: 30px;
   /*устанавливает размер шрифта для заголовка формы*/
   text-transform: uppercase;
   /*переводит все буквы заголовка в верхний регистр */
   margin-bottom: 10px;
   /*внутренний отступ снизу у заголовка формы*/
   color: black;
   /*устанавливает цвет текста для заголовка формы */
}

/* Общие стили для всех форм-элементов */
.form-container form input,
.form-container form select {
   width: 100%;
   /*Ширина равна 100%*/
   padding: 10px 15px;
   /*Внутренний отступ сверху и снизу - 10px, слева и справа - 15px */
   font-size: 17px;
   /*Размер шрифта - 17px*/
   margin: 8px 0;
   /*Внешний отступ сверху и снизу - 8px, слева и справа - 0*/
   background: #eee;
   /*Цвет фона - светло-серый */
   border-radius: 5px;
   /*Закругление углов - 5px*/
   display: inline-block;
   /*Элементы располагаются в строку друг за другом */
}

/* Стили для текстовых полей ввода */
.form-container form textarea {
   width: 100%;
   /*Ширина равна 100%*/
   padding: 10px 15px;
   /*Внутренний отступ сверху и снизу - 10px, слева и справа - 15px */
   font-size: 17px;
   /*Размер шрифта - 17px*/
   margin: 8px 0;
   /*Внешний отступ сверху и снизу - 8px, слева и справа - 0*/
   background: #eee;
   /* Цвет фона - светло-серый */
   border-radius: 5px;
   /*Закругление углов - 5px*/
   display: inline-block;
   /*Элементы располагаются в строку друг за другом */
}

/* Стили для опций в выпадающем списке */
.form-container form select option {
   background: #fff;
   /*Цвет фона - белый*/
}

/* Стили для кнопки отправки формы */
.form-container form .form-btn {
   background: #A66A2C;
   /*Цвет фона - коричневый*/
   color: #fff;
   /*Цвет текста - белый*/
   text-transform: capitalize;
   /*Преобразование первой буквы в заглавную*/
   font-size: 20px;
   /*Размер шрифта - 20px*/
   cursor: pointer;
   /* Изменение внешнего вида указателя мыши при наведении на кнопку*/
}

/* Стили для кнопки отправки формы при наведении */
.form-container form .form-btn:hover {
   background: #D5AA72;
   /*Цвет фона при наведении - светло-коричневый*/
   color: #fff;
   /* Цвет текста при наведении - белый*/
}

/*Стили для текста под формой*/
.form-container form p {
   margin-top: 10px;
   /*Внешний отступ сверху - 10px*/
   font-size: 20px;
   /*Размер шрифта*/
   color: black;
   /*Цвет текста - черный */
}

/*Стили для ссылок в тексте под формой*/
.form-container form p a {
   color: rgb(255, 0, 0);
   /* Цвет ссылок - красный*/
}

/* Стили для сообщения об ошибке */
.form-container form .error-msg {
   margin: 10px 0;
   /*Внешние отступы сверху и снизу - 10px, слева и справа - 0*/
   display: block;
   /*Отображать сообщение об ошибке как блочный элемент /*/
   background: rgb(255, 0, 0);
   /*Цвет фона сообщения об ошибке - красный*/
   color: #fff;
   /*Цвет текста сообщения об ошибке - белый*/
   border-radius: 5px;
   /*Радиус скругления углов рамки сообщения об ошибке - 5px*/
   font-size: 20px;
   /*Размер шрифта сообщения об ошибке - 20px */
   padding: 10px;
   /*Внутренние отступы у рамки сообщения об ошибке - 10px */
}

/* Media  768px */
@media screen and (max-width: 768px) {
   form {
      max-width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
   }
}
@media screen and (max-width: 700px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 10px;
   }
}
@media screen and (max-width: 1200px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 200px;
   }
}
@media screen and (max-width: 920px) {
   form {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 70px;
   }
}
@media screen and (max-width: 670px) {
   form {
      max-width: 100%;
      margin-bottom: 50px;
      margin-top: 100px;
   }
}
@media screen and (max-width: 850px) {
   form {
      max-width: 100%;
      margin-bottom: 50px;
      margin-top: 100px;
   }
}